
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dime</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
   <link href="assets/css/styles.css" rel="stylesheet">
   <link href="assets/css/stickyfooter.css" rel="stylesheet">

  </head>
  <body>
  <header id="masthead">
      <div class="header clearfix" id="box">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="disabled" ><a href="/dashboard">About</a></li>
            <li role="presentation" ><a href="/order">Order</a></li>
            <li role="presentation" ><a href="/invoice">Invoice</a></li>
            <li role="presentation" ><a href="/manager">Manager</a></li>
            <li role="presentation" ><a href="/charts">Statistics</a></li>
            <li role="presentation" ><a href="/signin">Logout</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Dime</h2>
      </div>
  </header>
  <br>
  <br>
  <br>
  
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Welcome to Dime</h1>
        <p class="lead">Dime is an easy to use business process model that helps a company manage orders, invoices, products and track data. With its easy to use features Dime is a powerful tool for any type of company. Dime makes is fast an easy for you to run your business and gives you the freedom to run it how you would like</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-3" id="category">
          <h4>Orders</h4>
          <p>Create and submit an order.</p>

        </div>
		<div class="col-lg-3">
          <h4>Invoice</h4>
          <p>Look up and keep track of invoices with ease.</p>

        </div>
		<div class="col-lg-3">
          <h4>Manager</h4>
          <p>Create new products and edit existing ones.</p>

        </div>

        <div class="col-lg-3">
          <h4>Charts</h4>
          <p>Keep track of what is product data.</p>

        </div>
      </div>
</div>
      <footer class="footer">
        <p>&copy; 2018 DIME Company, Inc.</p>
      </footer>
    
  </body>
</html>
