
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dime</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/stickyfooter.css" rel="stylesheet">
  <!--  <link href="../public/css/jumbotron-narrow.css" rel="stylesheet" type="text/css">-->
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/dashboard">About</a></li>
            <li role="presentation" ><a href="/order">Order</a></li>
            <li role="presentation" class="disabled" ><a href="/invoice">Invoice</a></li>
            <li role="presentation" ><a href="/manager">Manager</a></li>
            <li role="presentation" ><a href="/charts">Statistics</a></li>
            <li role="presentation"><a href="/signin">Logout</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Dime</h2>
      </div>

  {{!-- <div class="jumbotron">
        <h1 class="text-center">Welcome to Dime Platform</h1>

        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div> --}}

        <div class="container">
          <label for="searchFor">Invoice Id</label>
          <input id="searchFor" type="text"><button id="submitSearch" type="button" class="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

    <div id="card" class="card-body invisible" id="create" name="invoice" height='250' >
 

            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="address">Your address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name="order" placeholder="City">
                </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>

                    <select class="form-control" id="inputState">
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>	
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>	
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>	
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>	
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>			
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>	
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                  </select>
                  </div>
            <div class="form-group col-md-2">
                    <label for="inputZip">Zipcode</label>
                    <input type="text" class="form-control" id="inputZip" name="order" placeholder="Zip">
                  </div>
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div id="coffeeForm" class="input-group mb-10">

            </div>
            </div>

              <label>
                Please make sure your input correct information!
              </label>
            {{!-- <input id="submit" type="submit" class="btn btn-lg btn-success" value="Submit"> --}}

            <button id="submit" type="button" class="btn btn-lg btn-primary">Edit</button>
            <button id="cancel" type="button" class="btn btn-lg btn-danger" > Cancel Order</button>
        </form>
       
      <hr />
      <footer class="footer">
        <p>&copy; 2018 DIME Company, Inc.</p>
      </footer>
    </div>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="/assets/js/apiCalls.js"></script>
      <script src="/assets/js/invoice.js"></script>

           
  </body>
</html>
