
#Name {
  width: 300px;
  height: 70px;
/*  background: #b5bebe; */
  opacity: 0.90; 
  float: left;
 /* font-family: Georgia, 'Times New Roman', Times, serif;*/
  text-align: center;
  line-height: 90px;
  color: #666; 
  font-size: 45px;
  text-decoration: none;
  
}
.invisible{
  visibility: hidden !important;
}
.visible{
  visibility: visible;
}
.order-cancelled{
  border: 5px solid red !important;
  background: rgba(255,0,0,0.5) !important;
}

#box {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#masthead, header {
  background: #fff; 
  margin: 0 0 40px;
  z-index: 99;
  color: #fff;
  overflow: auto;
  border-bottom: 2px solid #ccc;
  position: fixed;
  width: 100%;
}

.nav {
  float: right;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  line-height: 18px;
}

nav a:first-child {
  border-left: 0 none;
}



body { 
background-image: url("https://www.pixeden.com/media/k2/galleries/112/002-subtle-light-pattern-background-texture.jpg");
background-position: center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
font-family: 'Nanum Gothic', sans-serif;
}


div, body{
margin: 0;
padding: 0;
/*font-family: exo, sans-serif;*/
color: black;
}
.main {

  width: 75%;
  height: 75%;
  border: 2px, solid black;
  padding: 100px;
}

p, label {
  font-size: 16px;
}


/*  .footer {
    position: absolute;
    padding: 25px 0;
    background: #698a8a;
    color: black;
    height: 60px;
    text-align: center;
    font-size: 15px;
    opacity: 0.75; 
    bottom: 0;
    width: 100%;
} */

/* sign up */

.form {
  margin-top: 50px;
}

/* Sign In */

.jumbotron {
  background-color: #cad6d6;
  margin-bottom: 145px;
}


/* Dashboard */
.jumbotron {
  text-align: center;
  color: #313d3d;
}

#category {
  color: #313d3d;
  margin-bottom: 180px;
}


/* order */

.card-text {
  margin-top: 10px;
  color: white;
}

/*.card-title {
  font-size: 50px;
}*/

#card-body {
  width: 100%;
  border: 2px solid black;
 /* padding: 25px;*/
  background-color: #f5fafa;
  margin-bottom: 50px;
}

#card {
  width: 100%;
  border: 2px solid black;
  padding: 25px;
  text-align: none;
/*  background: #698a8a; */
  background-color: #cad6d6;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 75px;
  margin-bottom: 50px;
  color: black;
}

.input-group-append {
  background-color: white;
}

.input-group-prepend {
  background-color: white;
}


/* manager */

.row {
  width: 100%;
  margin: 0 auto;
}

#create {
  width: 500px;
  border: 2px solid black;
  padding: 25px;
  margin: 100px 30px 115px 35px;
  clear: left;
  float: left;
/*  background: #698a8a; */
  background-color: #cad6d6;
/*  color: white; */
  color: black;

 

}

#UpdateProduct {
  width: 500px;
  border: 2px solid black;
  padding: 25px;
  margin: 100px 35px 115px 50px;
  float: right;
  clear: right;
/*  background: #698a8a;*/
  background-color: #cad6d6;
 /* color: white; */
 color: black;
}

#prevProd {
  margin-right: 0px;
  color: #698a8a;
  background: white;
}

#nextProd {
  margin-left: 10px;
  color: #698a8a;
  background: white;
}

#button {
  background-color: white; 
  border: none;
  color: rgb(66, 66, 66);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

#searchProd {
  margin-left: 10px;
  background-color: white;
}
/*charts */

#charts {
  width: 1200px;
  background-color: white;
  margin-top: 0px;
}